.listing-details-card {
  box-sizing: border-box;
  border: 3px solid black;
  padding: 1em;
  margin: 1em;
  background: #F6F8AB;
  box-shadow: 0 5px 20px -10px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.listing-img-container {
  display: flex;
}

.listing-details-img {
  height: 17em;
  width: 24em;
  margin: 1em;
}
