.listing-details-card {
  display: grid;
  grid-template-columns: repeat(2, .5fr);
  grid-template-rows: repeat(2, 0fr);
  grid-column-gap: 7px;
  grid-row-gap: 9px;
  box-sizing: border-box;
  border: 3px solid black;
  padding: 1em;
  margin: 1em;
  background: #F6F8AB;
  box-shadow: 0 5px 20px -10px;
  font-family: 'Roboto Condensed', sans-serif;
  width: 80em;
}

.listing-img-container {
  display: flex;
  grid-area: 2 / 2 / 3 / 3;
}

.listing-details-img {
  height: 15em;
  width: 21em;
  margin: 1em;
}

.listing-details-header {
  margin: 0em;
}

.listings-header {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  margin-left: 7em;
}

.listing-details-container {
  grid-area: 2 / 1 / 3 / 2;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.favorite-btn {
  border: 2px solid black;
  width: 6em;
  justify-content: center;
  align-self: flex-end;
  font-size: 1.3em;
  margin-top: 1em;
}

.favorite-btn:hover {
  background: #EB826D;
  align-self: auto;
}

ul {
  margin-block-start: .2em;
  margin-block-end: .4em;
  padding-left: 1.5em;
}
