header {
  background: #F6F8AB;
  box-shadow: 0 5px 20px -10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'tagline site-title p';
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0.1px;
}

.tagline {
  grid-area: tagline;
  margin: auto 0;
  font-size: 1em;
  font-weight: 600;
}

.site-title {
  grid-area: site-title;
  font-size: 3em;
  font-weight: 400;
  padding: 20px 0;
}

.no-style {
  margin: auto;
  text-decoration: none;
  color: black;
}

.logout-button {
  grid-area: icon;
  width: 30px;
  padding-left: 15px;
}

.log-in-out {
  display: flex;
  margin: auto;
}
.header-right-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'link icon';
  margin: auto;
}
.log-out {
  grid-area: link;
  margin: auto;
  font-size: 1em;
  font-weight: 600;
  text-align: right;
}
.like-img {
  grid-area: icon;
  width: 30px;
  padding-left: 15px;
}

.like-btn {
  grid-area: link;
  text-transform: uppercase;
  font-size: 1em;
  width: 200px;
}
