header {
  background: #F6F8AB;
  box-shadow: 0 5px 20px -10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'tagline site-title p';
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0.1px;
}


.tagline {
  grid-area: tagline;
  font-style: italic;
  margin: auto 0;
  font-size: 1.5em;
}

.site-title {
  grid-area: site-title;
  font-size: 3em;
  font-weight: 400;
  padding: 20px 0;
}

.log-out {
  grid-area: p;
  font-style: italic;
  /* font-weight: 300; */
  margin: auto;
  text-align: right;
  font-size: 1.5em;
}
