.login-area {
  background: #F6F8AB;
  box-shadow: 0 5px 20px -10px;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 100px auto auto auto;
  max-width: 20%;
  min-width: 300px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: auto 0 5% 5%;
  text-transform: uppercase;
}

.user-input {
  background: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10%;
  padding: 5px;
  text-transform: uppercase;
}

button {
  background: none;
  border: none;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 0;
  text-transform: uppercase;
  width: 40%;
}

.noStyle {
  text-decoration: none;
  color: black;
}

.noStyle[disabled] {
  cursor: not-allowed;
  text-decoration: none;
  pointer-events: none;
  color: #858585;
}

.required {
  color: red;
  font-style: italic;
  font-weight: 300;
  margin: 0;
}

.submit {
  border: 1px solid grey;
  padding: 5px;
}