.listing {
  box-sizing: border-box;
  border: 2px solid black;
  padding: 1em;
  margin: 1em;
  background: #F6F8AB;
  box-shadow: 0 5px 20px -10px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.listing-img {
  height: 25em;
  width: 34em;
}

.more-info {
  border: 2px solid black;
  width: 10em;
  padding: .4em;
  margin: auto;
  margin-top: .5em;
  justify-content: center;
}

.more-info:hover {
  background: #1CCE89;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
