.listing {
  box-sizing: border-box;
  border: 3px solid black;
  padding: 1em;
  margin: 1em;
  background: #F6F8AB;
  box-shadow: 0 5px 20px -10px;
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.listing-img {
  height: 25em;
  width: 34em;
}


.more-info {
  background: #C4C4C4;
  width: 10em;
  padding: .4em;
  margin: auto;
  justify-content: center;
  border-radius: 1em;
}
